{% extends 'base.html' %}

{% block content %}
   <div
  class="bg-gray-900"
>

<h1
  class="px-3 py-2.5 text-left text-base font-semibold text-gray-100"
  >List All Users Tags</h1>
</div>
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <p class="mt-2 text-sm text-gray-700">List all of the users tags!</p>
      <p class="mt-2 text-sm text-gray-700">A user should only see their own tags.</p>
      <p class="mt-2 text-sm text-red-400">A user should be the only one permitted to edit their tags. The tag name is the only editable field!</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <a href="{% url 'tags:dashboard' %}"
      <button type="button" class=" mt-6 block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Tags Dashboard</button>
        </a>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">User</th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Tag Name</th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Content/App</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Model Verbose Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Field Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Comment</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          {% if usertag_list %}  {# Check if items exist #}
                  {% for item in usertag_list %}
          <tbody class="divide-y divide-gray-200">
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ item.user}}</td>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ item.name}}</td>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ item.content_type}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{item.model_verbose_name}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{item.field_name}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ item.comment}}</td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Details<span class="sr-only">, {{ item.field_name}}</span></a>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
                  {% endfor %}
              {% else %}
    <p>No items available.</p>  {# Message for empty list #}
  {% endif %}

        </table>
      </div>
    </div>
  </div>
</div>









































{% endblock content %}
