[run]
source = .
omit = 
    archive/*
    tests/*
    dashboard.py
    **/__init__.py
    **/migrations/*
    config/*
    manage.py
    example/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    except ImportError:
    def main():
