

# Test deps, relocate later.
coverage==7.0.2
dj-inmemorystorage==2.1.0
Django==4.2.4
django-extensions==3.2.1
hypothesis[django]==6.56.4
pre-commit==3.4.0
psycopg>=3.1.8
# psycopg2==2.9.4 # This version should be used in production
#psycopg2-binary  # This version is ok for Development and Testing
pytest==7.2.0
pytest-django==4.5.2
# playwright==1.22.0
pytest-playwright==0.3.0
pytest-randomly==3.12.0
# pytest-reverse==1.5.0  # Not using this atm, but that may change!
pytest-xdist==3.0.2
python-semantic-release==8.0.8
rich==13.0.1
tblib==1.7.0
tox==4.11.1
