<!-- Define component with preselected options -->
{# elementId must be the same as select id #}
<div
  x-data="alpineTagMeMultiSelect(
      {selected: {{ values }},
      elementId: 'id_{{ name }}'}
      )"
  class="w-full"
>
    <!-- Select Options -->
    <select
      id='id_{{ name }}'
      name='{{ name }}'
      x-bind:value="selectedValues()"
      class="hidden"
      multiple
    >
      {% for tag in choices %}
        <option
          value='{{ tag }}'
          data-search='{{ tag }}'
        >
          {{ tag }}
        </option>
      {% endfor %}
    </select>
      
    {% include 'tag_me/partial_tag_me_select.html' %}

  </div>
